.modalAnswer {
  position: absolute !important;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  transform-origin: 0 0 !important;
  transition: width 0.1s ease-in;

  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
}

.modalAnswerFullScreen {
  transition: width 0.1s ease-in;
  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
}

.modalAnswerContent {
  position: relative;
  width: 100%;
  padding: 8px;
  background: linear-gradient(180deg, black -3.67%, #545454 21.75%);
  border-radius: 4px;

  .modalAnswerAvatar {
    border: 5px solid #a5d5ff;
    border-radius: 100%;
    animation: scaling 2s infinite;
  }
  .circle1 {
    animation-delay: 0s;
  }
  .circle2 {
    animation-delay: 1s;
  }
}

.modalAnswerContentFullScreen {
  position: relative;
  width: 100%;
  height: 423px;
  padding: 8px;
  background: linear-gradient(180deg, black -3.67%, #545454 21.75%);
  border-radius: 4px;

  .modalAnswerAvatar {
    border: 5px solid #a5d5ff;
    border-radius: 100%;
  }
}

.modalAnswerIcon {
  transform: scaleX(-1);
  svg {
    width: 22px;
    height: 22px;
    fill: white;
  }
}

.modalAnswerOutlined {
  cursor: pointer;
  svg {
    width: 20px;
    height: 20px;
    fill: #afafaf;
  }
}

.avatar {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-left: 40px;

  div {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #a5d5ff;
    border-radius: 50%;
    animation: scaling 2s cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite;
  }
}

.avatarFullScreen {
  top: 120px;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 50px;
  margin-left: 15px;

  div {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    background-color: #a5d5ff;
    border-radius: 50%;
    animation: scaling 2s cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite;
  }
}

.phone {
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #a5d5ff;
  animation: phone 1s cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite alternate-reverse;
}

.material-icons {
  color: white;
}

.phonePickUp {
  transform: scaleX(-1);
  cursor: pointer;
  svg {
    padding: 10px;
    font-size: 40px;
    background: #52c41b;
    border-radius: 100%;
    animation: phonePickUp 0.3s infinite forwards;
    fill: white;
  }
}

@keyframes phonePickUp {
  0% {
    rotate: -10deg;
  }
  50% {
    rotate: 30deg;
  }
  100% {
    rotate: -10deg;
  }
}

.phoneShare {
  width: 40px;
  height: 40px;
  padding: 10px;
  background: #399dee;
  border-radius: 100%;
  cursor: pointer;
}

.phonePlay {
  background: #399dee;
  border-radius: 100%;
  cursor: pointer;
  svg {
    padding: 10px;
    font-size: 40px;
    fill: white;
  }
}

.phonePause {
  background: red;
  border-radius: 100%;
  cursor: pointer;
  svg {
    padding: 10px;
    font-size: 40px;
    fill: white;
  }
}

.record {
  background: #399dee;
  border-radius: 100%;
  cursor: pointer;
  svg {
    padding: 10px;
    font-size: 40px;
    fill: white;
  }
}

.noRecord {
  background: red;
  border-radius: 100%;
  cursor: pointer;
  svg {
    padding: 10px;
    font-size: 40px;
    fill: white;
  }
}

.phoneHandUp {
  cursor: pointer;
  svg {
    padding: 10px;
    font-size: 40px;
    background: red;
    border-radius: 100%;
    fill: white;
    rotate: -135deg;
  }
}

.infoPhoneFullScreen {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
}
.forwardPhoneModal {
  color: rgba(0, 0, 0, 0.45);
}

.wrapModal {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  width: 400px;
  height: 224px;
}
