@import (reference) '~antd/es/style/themes/index';

.antSegmented {
  :global {
    .ant-segmented {
      background-color: #e3eaf4;
    }
    .ant-segmented-group {
      background-color: #e3eaf4;
      border: #e3eaf4;
    }
    .ant-segmented-item-selected {
      color: #fff;
      font-weight: bold;
      background-color: #7fb77e;
    }
    .ant-segmented-item:hover {
      color: #fff;
    }
    .ant-segmented-item:focus {
      color: #fff;
    }
  }
}
.detailCardLayout {
  margin-top: 7%;
  background-color: white;
  border: 1px solid #59895c;
  border-radius: 8px;
  :global {
    .ant-card-head {
      border-bottom: unset;
    }
    .ant-card-body {
      padding-left: unset;
    }
  }
}
.detailCardLayoutNoMar {
  margin-top: 1rem;
  background-color: white;
  border: 1px solid #59895c;
  border-radius: 8px;
  :global {
    .ant-card-head {
      border-bottom: unset;
    }
    .ant-card-body {
      padding-left: unset;
    }
  }
}
.antSettingBtn {
  border-color: #064b8b;
  border-left: unset;
  border-radius: unset;
}
.antAvatarImg {
  position: absolute;
  top: -80px;
  left: 50px;
  width: 143px;
  height: 143px;
  background-color: #fff;
  border-radius: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.antImg {
  width: 100%;
  height: 100%;
}
.antFieldDisplay {
  margin-bottom: 20px;
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  background-color: #f0f2f5;
  border-radius: 6px;
}
.antDataDisplay {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}
.antTextStyle {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
}
.antBold {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}
.antShiftTabPane {
  display: flex;
  justify-content: center;
  text-align: center;
  :global {
    .ant-tabs-nav-wrap {
      display: flex;
      justify-content: center;
    }
  }
}
.osDeviceStyle {
  margin-right: 10px;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  font-size: 18px;
}
.locationDeviceStyle {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.53);
  font-weight: 400;
  font-size: 13px;
  font-style: italic;
}
.permissionTable {
  :global {
    .ant-table-thead > tr > th {
      color: rgba(0, 0, 0, 1);
      font-weight: bold;
      background-color: #87c686;
    }
    .ant-table-thead {
      font-size: 14px;
    }
  }
}
.inputPhonePrefix {
  :global {
    .ant-input-group-addon {
      color: #1890ff;
    }
  }
}
.addPermissionIcon {
  color: #7fb77e;
  font-size: 30px;
  background-color: #fff;
}
.cancleBtn {
  margin-right: 10px;
}
.addPermissionTable {
  :global {
    .ant-table-thead > tr > th {
      color: rgba(0, 0, 0, 1);
      font-weight: bold;
      background-color: #c5e3ff;
    }
    .ant-table-thead {
      font-size: 14px;
    }
    .ant-table-cell-scrollbar:not([rowspan]) {
      box-shadow: none;
    }
  }
}
.addPermissionInputPlaceholder {
  :global {
    .ant-input:placeholder-shown {
      text-align: center;
    }
    .ant-form-item-explain-error {
      text-align: center;
    }
  }
}
.addPermissionInput {
  text-align: center;
}
.antCheckboxGroup {
  :global {
    .ant-checkbox-group-item {
      margin-right: 30px;
    }
  }
}
:global {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    height: 98px;
    background: #c5e3ff;
    border-radius: 99px;
  }
}
.antFormItemMargin {
  margin-bottom: unset;
}
