@import (reference) '~antd/es/style/themes/index';

.antSegmented {
  :global {
    .ant-segmented-item-selected {
      color: #1890ff;
      font-weight: bold;
    }
    .ant-segmented-item:hover {
      color: #1890ff;
    }
  }
}
.detailCardLayout {
  margin-top: 7%;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: white;
  border: 1px solid #064b8b;
  border-radius: 8px;
  :global {
    .ant-card-head {
      border-bottom: unset;
    }
    .ant-card-body {
      padding-left: unset;
    }
  }
}
