@import (reference) '~antd/es/style/themes/index';

.antSegmented {
  :global {
    .ant-segmented {
      background-color: #e3eaf4;
    }
    .ant-segmented-group {
      background-color: #e3eaf4;
      border: #e3eaf4;
    }
    .ant-segmented-item-selected {
      color: #fff;
      font-weight: bold;
      background-color: #7fb77e;
    }
    .ant-segmented-item:hover {
      color: #fff;
    }
    .ant-segmented-item:focus {
      color: #fff;
    }
  }
}
.detailCardLayout {
  margin-top: 7%;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: white;
  border: 1px solid #064b8b;
  border-radius: 8px;
  :global {
    .ant-card-head {
      border-bottom: unset;
    }
    .ant-card-body {
      padding-left: unset;
    }
  }
}
